<!DOCTYPE HTML>
<html lang="ru">
	<head>
		<meta charset="utf-8">
		<meta name="author" content="Pomogach Studio">
		<meta name="description" content="OK">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>МБА</title>
		<link href="assets/MBA_logo.svg">
		<link rel="stylesheets" type="text/css" href="main.css">
		<link rel="stylesheets" type="text/css" href="all.css">
		<link rel="shortcut icon" href="./assets/MBA_logo.webp">
	</head>
	<body>
		<header>
			<div>
				<img src="./assets/MBA_logo.webp" alt="Кнопка главная, неактивная.">
				<a href="#">Настройки</a>
				<a href="#">Вклады и кредиты</a>
				<a href="#">ИИ-аналитик</a>
				<a href="#">Поддержка</a>
			</div>
		</header>
		<div class="main">
			<div class="left-menu">
				<button class="left-menu-edge-button">
					<img src="./assets/ai_off.svg">
					<p>Общая аналитика</p>
				</button>
				<div>
					<button class="left-menu-in-button">
						<img src="#">
						<div class="left-menu-account-div">
							<div class="left-menu-account-div-head">
								<p>Account Name</p>
								<button>
									<img src="./assets/edit.svg" alt="Редактировать название счёта ХХХ">
								</button>
							</div>
							<div class="left-menu-account-div-foot">
								<p>1234567890,00 &#x20BD;</p>
								<div class="label-green">
									<p>+2,01%</p>
								</div>
							</div>
						</div>
					</button>
				</div>
				<button class="left-menu-edge-button">
					<img src="#">
					<p>Добавить счёт</p>
				</button>
			</div>
			<div class="right-menu">

			</div>
		</div>
		<footer>
			<a href="#">Политика конфиденциальности</a>
			<a href="#">Пользовательское соглашение</a>
			<a href="https://github.com/Pomogachoff/MBA/blob/main/LICENSE">Лицензия</a>
			<a href="#">API и документация</a>
		</footer>
	</body>
</html>